.calendar-container {
  position: relative; /* Needed to position the calendar absolutely */
}

.input-with-icon {
  display: flex;
  align-items: center;
}

.input-with-icon label {
  display: flex;
  align-items: center;
}

.input-with-icon input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-left: 8px; /* Adjust spacing as needed */
  flex-grow: 1;
}

.calendar-popup {
  position: absolute;
  top: 40px; /* Adjust based on your layout */
  left: 0;
  z-index: 10; /* Ensure it's above other elements */
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
